Source: uploadnewip
Section: utils
Priority: optional
Maintainer: Caleb Woodbine <calebwoodbine.public@gmail.com>
Standards-Version: 2.2.1
Build-Depends: debhelper (>= 9)

Package: uploadnewip
Architecture: all
Depends: curl, bash, nano, iputils-ping
Description: Upload new dynamic public IP address of a GNU/Linux server to Dropbox every time it changes
