[Unit]
Description=Upload new dynamic public IP address of a GNU/Linux server to Dropbox every time it changes.
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/uploadnewip -d
Restart=on-abort

[Install]
WantedBy=multi-user.target
