#!/bin/bash

##CONFIG FILE OF install.sh FOR uploadnewip

#folder where programs of this will be stored. ## '$HOME/.uploadnewip' is default
scriptsFolder="$HOME/.uploadnewip"
#nickname/purpose for IP. DO NOT HAVE SPACES.
purpose_name=""
#server to test internet connectivity. '8.8.8.8' is good cause it will always be up. Make sure it's an external address. 8.8.8.8 is default.
ping_server="8.8.8.8"
#folder in dropbox where IP is stored. ## uploadnewip will create this if it doesn't exist.
dropbox_folder=""
#amount of seconds to wait for loop periods. ## 30 seconds is default
loop_seconds="30"
#install systemd service ## y | n
systemd_service_install="y"
#dropbox authentication key ## Read README.txt for help.
dropbox_key=""
