Source: uploadnewip
Package: uploadnewip
Priority: optional
Maintainer: github.com/BobyMCbobs
Version: 2.0
Architecture: all
Installed-Size: 220.2 kB
Depends: curl, bash
Description: Upload IP address of unit to Dropbox
